OLLAMA_URL=http://localhost:11434/api/chat
API_URL=http://127.0.0.1:8000/chat
TODO_WEBHOOK=http://localhost:5678/webhook-test/todo
EMAIL_WEBHOOK=http://localhost:5678/webhook-test/email
DEFAULT_MODEL=llama3.2
CONNECT_TIMEOUT=10
READ_TIMEOUT=120