export LANGCHAIN_API_KEY="lsv2_sk_af76277329ac400db0asdad1cd074_7093153844"
export LANGSMITH_TRACING=true
export LANGCHAIN_PROJECT= "llm-chat"

API_URL = "http://127.0.0.1:8000/chat"
OLLAMA_URL = "http://localhost:11434/api/chat"
TODO_WEBHOOK = "http://localhost:5678/webhook-test/todo"
EMAIL_WEBHOOK = "http://localhost:5678/webhook-test/email"
CONNECT_TIMEOUT = 10
READ_TIMEOUT = 120~